<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Rulotes Bar</title>
    <!--

    Template 2080 Minimax

    http://www.tooplate.com/view/2080-minimax

    -->
    <!-- stylesheet css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="static/css/nivo_themes/default/default.css">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- google web font css -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#home" class="navbar-brand smoothScroll">RulotesBar</a>

		</div>
		<div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll" style="background:#888888;color:#fff;">PT</a></li>
            </ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#home" class="smoothScroll">HOME</a></li>
				<li><a href="#service" class="smoothScroll">SERVICE</a></li>
				<li><a href="#portfolio" class="smoothScroll">TRAILERS</a></li>
				<li><a href="#portfolio2" class="smoothScroll">VANS</a></li>
				<li><a href="#pricing" class="smoothScroll">PRICES</a></li>
				<li><a href="#contact" class="smoothScroll">CONTACT</a></li>

			</ul>


		</div>

	</div>
</div>

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-8 col-md-4 col-sm-offset-6 col-sm-6">
				<h2>Welcome to</h2>
				<h1>Rulotes <strong>Bar</strong></h1>
					<p>Bar/Kitchen Trailers, Auto-Bars, Street Food Vans, Mobile Kitchens.</p>
				<a href="#service" class="btn btn-default smoothScroll">GET STARTED</a>
			</div>
		</div>
	</div>
</div>

<!-- service section -->
<div id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Our service</h2>
			</div>
			<div class="col-md-4 col-sm-4">
				<!--<i class="fa fa-cubes"></i>-->
				<h3>Rental</h3>
				<p>Rental of Trailers and Vans for Street Food, showcooking, events, parties, festivals, Catering support, private parties, concerts, sport events, marketing, brand promotion, product launch, Food Styling, mobile kitchen, among others.</p>
                <p>Minimum of 3-day rental, except for special cases. Equipments are only guaranteed after the reservation value has been payed. We deliver and pick-up at the event's location.</p>
                <p>Note: <b>We do not rent vehicles without driver.</b></p>
			</div>
			<div class="col-md-4 col-sm-4">
				<!--<i class="fa fa-cogs"></i>-->
				<h3>Quality</h3>
                <p>Equipment in good state, hygienic, and nice looking. All equipment includes <a href="https://www.fda.gov/food/guidanceregulation/haccp/">HACCP</a>, as well as Hygiene-Sanitation Certification.</p>
                <p>During the rental period, the renter is responsible for: hygiene, quality and legality of products on sale,
                    any damages caused to the trailer during the event, billing equipment, activity permits, among others.</p>
			</div>
			<div class="col-md-4 col-sm-4">
				<!--<i class="fa fa-group"></i>-->
				<h3>Customization</h3>
				<p>The rental does not include support equipment: tables, chairs, wastebaskets,
					electrical extensions, cleaning supplies, consumables, etc. We can include equipments like grilling plates, electric stoves, ovens, industrial fryers, etc. Gas-operated equipments are not allowed.</p>
				<p>Equipment must be returned in the same state they were rented. It is possible to customize the trailer/van for each case, as long as the materials used can be easily removed, and the vehicle is returned without lasting traces of the customization.</p>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- rulotes section -->

<!-- rulotes section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Trailers</h2>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter-wrapper clearfix">
						<li><a id="pfmain" href="#" class="opc-main-bg" data-filter=".main">Todas</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".r1">R1</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".r2">R2</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".r3">R3</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".r4">R4</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".r5">R5</a></li>
					</ul>
					<div class="iso-box-section">
						<div class="iso-box-wrapper col4-iso-box">


                            <div class="iso-box r1 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>R1 - 3.60 x 2.20</h2>
                                <p>Brand Toniauto. Plus tow lance.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>

                            </div>


                            <div class="iso-box main r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/IMG-20180917-WA0004.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img src="static/images/r1/IMG-20180917-WA0004.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/IMG-20180917-WA0005.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/IMG-20180917-WA0005.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/IMG-20180917-WA0006.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/IMG-20180917-WA0006.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014484.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014484.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014485.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014485.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014486.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014486.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014487.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014487.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014488.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014488.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014489.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014489.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014490.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014490.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r1/11052014491.jpg" data-lightbox-gallery="portfolio-galleryr1">
                                    <img data-src="static/images/r1/11052014491.jpg" src="static/images/empty.jpg" alt="portfolio img"></a>
                            </div>



                            <div class="iso-box r2 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>R2 - 3.40 x 2.20</h2>
                                <p>Plus tow lance.</p>
                                <p>Includes standard equipment:
                                    induction cooktop (4 burners);
                                    combined 175L refrigerator-freezer;
                                    hand washer;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    single-phase electrical input (32A).</p>
                                <p>Placement of beer tap is forbidden. Possible to customize to client.</p>
                            </div>

                            <div class="iso-box main r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/1694983454121.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/r2/1694983454121.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/1694983454128.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r2/1694983454128.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/1694983454136.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r2/1694983454136.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/IMG-20231023-1.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r2/IMG-20231023-1.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/IMG-20231023-2.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r2/IMG-20231023-2.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r2/IMG-20231023-3.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r2/IMG-20231023-3.jpg" alt="portfolio img"></a>
                            </div>



							<div class="iso-box r3 scroller col-md-12 col-sm-12 col-xs-12">
								<h2>R3 - 3.50 x 2.20</h2>
								<p>Plus tow lance.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
                            </div>


							<div class="iso-box main r3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/r3/20170510_183923.jpg" data-lightbox-gallery="portfolio-galleryr3">
									<img src="static/images/r3/20170510_183923.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/r3/20170510_183907.jpg" data-lightbox-gallery="portfolio-galleryr3">
									<img src="static/images/empty.jpg" data-src="static/images/r3/20170510_183907.jpg" alt="portfolio img"></a>
							</div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_183946.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_183946.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184007.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184007.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184020.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184020.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184040.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184040.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184108.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184108.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184159.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184159.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184224.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184224.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184250.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184250.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r3 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r3/20170510_184320.jpg" data-lightbox-gallery="portfolio-galleryr3">
                                    <img src="static/images/empty.jpg" data-src="static/images/r3/20170510_184320.jpg" alt="portfolio img"></a>
                            </div>


							<div class="iso-box r4 scroller col-md-12 col-sm-12 col-xs-12">
								<h2>R4 - 4.00 x 2.20</h2>
								<p>Plus tow lance.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
                            </div>


							<div class="iso-box main r4 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/r4/atr.jpg" data-lightbox-gallery="portfolio-galleryr4">
									<img src="static/images/r4/atr.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/r4/20160605_194837.jpg" data-lightbox-gallery="portfolio-galleryr4">
									<img src="static/images/empty.jpg" data-src="static/images/r4/20160605_194837.jpg" alt="portfolio img"></a>
							</div>
                            <div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r4/20160605_194930.jpg" data-lightbox-gallery="portfolio-galleryr4">
                                    <img src="static/images/empty.jpg" data-src="static/images/r4/20160605_194930.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r4/20160605_194947.jpg" data-lightbox-gallery="portfolio-galleryr4">
                                    <img src="static/images/empty.jpg" data-src="static/images/r4/20160605_194947.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r4/20160605_195028.jpg" data-lightbox-gallery="portfolio-galleryr4">
                                    <img src="static/images/empty.jpg" data-src="static/images/r4/20160605_195028.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r4/20160605_195041.jpg" data-lightbox-gallery="portfolio-galleryr4">
                                    <img src="static/images/empty.jpg" data-src="static/images/r4/20160605_195041.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r4/20160605_195100.jpg" data-lightbox-gallery="portfolio-galleryr4">
                                    <img src="static/images/empty.jpg" data-src="static/images/r4/20160605_195100.jpg" alt="portfolio img"></a>
                            </div>


                            <div class="iso-box r5 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>R5 - 6.00 x 2.20</h2>
                                <p>Black, brand Toniauto. Plus tow lance.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>

                            </div>

                            <div class="iso-box main r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/12072011107.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/12072011107.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/12072011102.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/12072011102.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012067.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012067.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012066.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012066.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012064.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012064.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012063.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012063.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012062.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012062.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012061.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012061.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012060.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012060.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/27062012059.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/27062012059.jpg" alt="portfolio img"></a>
                            </div>
                            
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/12072011105.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/12072011105.jpg" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/12072011103.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/12072011103.jpg" alt="portfolio img"></a>
                            </div>
                            
                            <div class="iso-box r5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/r5/10062012868.jpg" data-lightbox-gallery="portfolio-galleryr5">
                                    <img src="static/images/empty.jpg" data-src="static/images/r5/10062012868.jpg" alt="portfolio img"></a>
                            </div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="title">
					<h2>Vans</h2>
				</div>
				<!-- ISO section -->
				<div class="iso-section">
					<ul class="filter2-wrapper clearfix">
						<li><a id="pf2main" href="#" class="opc-main-bg" data-filter=".main">Todas</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".c1">C1</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".c2">C2</a></li>
						<li><a href="#" class="opc-main-bg" data-filter=".c3">C3</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".c4">C4</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".c5">C5</a></li>
					</ul>
					<div class="iso-box-section">
						<div class="iso2-box-wrapper col4-iso-box">

							<div class="iso2-box c1 scroller col-md-12 col-sm-12 col-xs-12">
								<h2>C1 - Volkswagen Crafter</h2>
                                <p>Long VW Crafter van. Work zone with 4.40m length.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
							</div>


							<div class="iso2-box main c1 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c1/IMG_20190228_152535.jpg" data-lightbox-gallery="portfolio-galleryc1">
									<img src="static/images/c1/IMG_20190228_152535.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c1/IMG_20190228_152450.jpg" data-lightbox-gallery="portfolio-galleryc1">
									<img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152450.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c1/IMG_20190228_152459.jpg" data-lightbox-gallery="portfolio-galleryc1">
                                    <img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152459.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c1/IMG_20190228_152515.jpg" data-lightbox-gallery="portfolio-galleryc1">
									<img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152515.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c1/IMG_20190228_152558.jpg" data-lightbox-gallery="portfolio-galleryc1">
                                    <img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152558.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c1/IMG_20190228_152611.jpg" data-lightbox-gallery="portfolio-galleryc1">
									<img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152611.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c1 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c1/IMG_20190228_152623.jpg" data-lightbox-gallery="portfolio-galleryc1">
                                    <img src="static/images/empty.jpg" data-src="static/images/c1/IMG_20190228_152623.jpg" alt="portfolio img"></a>
                            </div>


                            <div class="iso2-box c2 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>C2 - Volkswagen Crafter</h2>
                                <p>Long VW Crafter van. Work zone with 4.40m length.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>

                                
                            </div>


                            <div class="iso2-box main c2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c2/IMG_20190228_152535.jpg" data-lightbox-gallery="portfolio-galleryc2">
									<img src="static/images/c2/IMG_20190228_152535.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c2/IMG_20190228_152450.jpg" data-lightbox-gallery="portfolio-galleryc2">
									<img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152450.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c2/IMG_20190228_152459.jpg" data-lightbox-gallery="portfolio-galleryc2">
                                    <img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152459.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c2/IMG_20190228_152515.jpg" data-lightbox-gallery="portfolio-galleryc2">
									<img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152515.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c2/IMG_20190228_152558.jpg" data-lightbox-gallery="portfolio-galleryc2">
                                    <img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152558.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c2/IMG_20190228_152611.jpg" data-lightbox-gallery="portfolio-galleryc2">
									<img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152611.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c2 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c2/IMG_20190228_152623.jpg" data-lightbox-gallery="portfolio-galleryc2">
                                    <img src="static/images/empty.jpg" data-src="static/images/c2/IMG_20190228_152623.jpg" alt="portfolio img"></a>
                            </div>


							<div class="iso2-box c3 scroller col-md-12 col-sm-12 col-xs-12">
								<h2>C3 - Iveco 35C18</h2>
								<p>Long IVECO van. Work zone with 4.70m length.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
							</div>


							<div class="iso2-box main c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204832.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/c3/20160531_204832.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20151007_192915.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20151007_192915.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160304_115729.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160304_115729.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160304_115753.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160304_115753.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204817.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204817.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204841.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204841.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204850.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204850.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204901.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204901.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204915.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204915.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_204926.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_204926.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_205007.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_205007.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_205024.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_205024.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_205045.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_205045.jpg" alt="portfolio img"></a>
							</div>
							<div class="iso2-box c3 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c3/20160531_205059.jpg" data-lightbox-gallery="portfolio-galleryc3">
									<img src="static/images/empty.jpg" data-src="static/images/c3/20160531_205059.jpg" alt="portfolio img"></a>
							</div>


                            <div class="iso2-box c4 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>C4 - Volkswagen Crafter</h2>
                                <p>Long VW Crafter van. Work zone with 4.40m length.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
                            </div>


                            <div class="iso2-box main c4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c4/IMG_20190228_152535.jpg" data-lightbox-gallery="portfolio-galleryc4">
									<img src="static/images/c4/IMG_20190228_152535.jpg" alt="portfolio img"></a>
							</div>

							<div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c4/IMG_20190228_152450.jpg" data-lightbox-gallery="portfolio-galleryc4">
									<img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152450.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c4/IMG_20190228_152459.jpg" data-lightbox-gallery="portfolio-galleryc4">
                                    <img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152459.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c4/IMG_20190228_152515.jpg" data-lightbox-gallery="portfolio-galleryc4">
									<img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152515.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c4/IMG_20190228_152558.jpg" data-lightbox-gallery="portfolio-galleryc4">
                                    <img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152558.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
								<a href="static/images/c4/IMG_20190228_152611.jpg" data-lightbox-gallery="portfolio-galleryc4">
									<img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152611.jpg" alt="portfolio img"></a>
							</div>

                            <div class="iso2-box c4 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c4/IMG_20190228_152623.jpg" data-lightbox-gallery="portfolio-galleryc4">
                                    <img src="static/images/empty.jpg" data-src="static/images/c4/IMG_20190228_152623.jpg" alt="portfolio img"></a>
                            </div>


                            <div class="iso2-box c5 scroller col-md-12 col-sm-12 col-xs-12">
                                <h2>C5 - Volkswagen Crafter</h2>
                                <p>Medium VW Crafter van. Work zone with 3.30m length.</p>
                                <p>Includes standard equipment:
                                    horizontal refrigerator with 3 compartments and sliding covers;
                                    vertical 95L freezer;
                                    105L refrigerator;
                                    exhaust fan;
                                    warm and cold waters;
                                    clean and waste water containers, with optional drainage through external hose;
                                    stainless steel counters;
                                    non-slip aluminum floor;
                                    5-pin three-phase electrical input (40A), with optional single-phase adaptor. </p>
                            </div>


                            <div class="iso2-box main c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141909.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/c5/IMG_20200109_141909.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141815.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_141815.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141833.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_141833.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141848.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_141848.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141859.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_141859.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_141958.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_141958.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_142007.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_142007.jpg" alt="portfolio img"></a>
                            </div>

                            <div class="iso2-box c5 col-md-6 col-sm-6 col-xs-12">
                                <a href="static/images/c5/IMG_20200109_142012.jpg" data-lightbox-gallery="portfolio-galleryc5">
                                    <img src="static/images/empty.jpg" data-src="static/images/c5/IMG_20200109_142012.jpg" alt="portfolio img"></a>
                            </div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>	

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- pricing section -->
<div id="pricing">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Prices</h2>
			</div>

            <div class="col-md-12 col-sm-12 col-xs-10">
                <div class="plan">
                    <div class="plan-title">
                        <h3>Vehicles</h3>
                        <small>Charged per day</small>
                    </div>
                    <ul>
                        <div class="row">
                          <div class="col-sm-2"><li>R1 - 140€</li></div>
                          <div class="col-sm-3"><li>R2 - 130€</li></div>
                          <div class="col-sm-2"><li>R3 - 150€</li></div>
                          <div class="col-sm-3"><li>R4 - 160€</li></div>
                          <div class="col-sm-2"><li>R5 - 170€</li></div>
                        </div> 
                        <div class="row">
                          <div class="col-sm-2"><li>C1 - 180€</li></div>
                          <div class="col-sm-3"><li>C2 - 180€</li></div>
                          <div class="col-sm-2"><li>C3 - 180€</li></div>
                          <div class="col-sm-3"><li>C4 - 180€</li></div>
                          <div class="col-sm-2"><li>C5 - 160€</li></div>
                        </div> 
                    </ul>
                </div>
            </div>

			<div class="col-md-3 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Rental</h3>
						<small>Details</small>
					</div>
					<ul>
						<li>Minimum 3-day rental</li>
						<li>Standard equipment</li>
						<li>Delivery and pick-up - distance from Fazendas de Almeirim,
                            includes delivery, assembly and pick-up</li>
                        <li>Preparation/Cleaning - 100€</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Additional</h3>
						<small>Equipament or Help</small>
					</div>
					<ul>
						<li>Additional equipament: over, grilling plate, etc.</li>
                        <li>On-site personnel assistance over event:<br/>
                            prevention and resolution of possible set-backs;<br/>
                            location changes;<br/>
                            resupply/drainage of water;<br/>
                            information/advice;<br/>
                            ...</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-10">
				<div class="plan">
					<div class="plan-title">
						<h3>Discounts</h3>
						<small>By day of quantity, cumulative</small>
					</div>
					<ul>
						<li># of days: 1% per consecutive rental days, up to 30%<br/>
                            EX: 12 rental days = 12% discount</li>
                        <li># of vehicles: 5% per vehicle (beyong the first one), up to 20%<br/>
                            EX: 3 vehicles = 10% discount</li>
					</ul>
				</div>
			</div>
            <div class="col-md-3 col-sm-6 col-xs-10">
                <div class="plan">
                    <div class="plan-title">
                        <h3>Payment</h3>
                        <small>Conditions</small>
                    </div>
                    <ul>
                        <li>Reserve 40%</li>
                        <li>Remaining 60% on delivery of equipment</li>
                        <li>Remaining 60% may be payed by installments in rentals over 10 days</li>
                    </ul>
                    <!--<button class="btn btn-warning">Sign Up</button>-->
                </div>
            </div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- contact section -->
<div id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>Contact Us</h2>
			</div>
			<form action="email_en" method="post" role="form">
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<div class="col-md-6 col-sm-6">
						<input name="name" type="text" class="form-control" id="name" required placeholder="Name">
				  	</div>
					<div class="col-md-6 col-sm-6">
						<input name="email" type="email" class="form-control" id="email" required placeholder="Email">
				  	</div>
                    <div class="col-md-12 col-sm-12">
						<input name="subject" type="text" class="form-control" id="subject" required placeholder="Vehicle (CS1, CS2, etc)">
	    	  	  	</div>
                    <div class="col-md-12 col-sm-12">
                        <input name="captcha" type="text" class="form-control" id="captcha" required placeholder="Human Verification: 5 + 3 = ?">
                    </div>
					<div class="col-md-12 col-sm-12">
						<textarea name="message" rows="5" required class="form-control" id="message"
								  placeholder="Include in your e-mail the following information:
 - Location of event
 - Delivery and pick-up dates
 - Extra equipment necessary"></textarea>
					</div>
					<div class="col-md-8 col-sm-8">
						<p>Contact us with any questions and for case-by-case budgets.</p>
					</div>
					<div class="col-md-4 col-sm-4">
						<input name="submit" type="submit" class="form-control" id="submit" value="Send">

					</div>
				</div>
				<div class="col-md-1 col-sm-1"></div>
			</form>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
                <h2>Who we are</h2>
                <p>Rulotes Bar - Equipment Rental</p>
                <p>Zilda Maria Flauzino Apolinário</p>
                <p>Stree 24 de Julho, n68, 2080-526, Fazendas de Almeirim</p>
                <p>VAC: 114 970 548</p>
                <p>Email: <span>rulotesbar@gmail.com</span></p>
                <p>Phone: <span>+351 960 222 733</span></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <h2>Where we are:</h2>
                <p><span>Show Room / Warehouse:</span></p>
                <p>Street D. João IV, n9</p>
                <p>2080-526, Fazendas de Almeirim, Santarém, Portugal</p>
            </div>
		</div>
	</div>
</footer>

<!-- divider section -->
<div class="container">
	<div class="row">
		<div class="col-md-1 col-sm-1"></div>
		<div class="col-md-10 col-sm-10">
			<hr>
		</div>
		<div class="col-md-1 col-sm-1"></div>
	</div>
</div>

<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- javascript js -->
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/jquery.nav.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/imagesloaded.min.js"></script>
<script src="static/js/jquery.pano.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>
